{% extends "layout.html" %}

{% block body %}

<h3>Kontrol Paneli</h3>
<hr>
<p>
    Hoşgeldiniz, <small>{{request.user.username}}</small>
</p>
<hr>
 
<a class= "btn btn-danger" href= "{% url 'article:addarticle' %}">Makale Ekle</a>  <!--Buton yerine link kullandık üzerine link ekledik. -->
<hr>

{% if articles %}
        <table class="table">
        <thead>
            <tr>
            <th scope="col">id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Yazar</th>
            <th scope="col">Tarih</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles  %}
                <tr>                 <!-- tr etiketi satırları belirler-->
                <th scope="row">{{article.id}}</th>
                <td><a href= "{%url 'article:detail' article.id %}">{{article.title}}</a></td>  <!-- a etiketiyle makale başlığına basılınca makaleye gidilmesi içinmakale başlığına link ekledik. -->
                <td>{{article.author.username}}</td>
                <td>{{article.created_date}}</td>
                <td><a href="{% url 'article:update' article.id %}" class = "btn btn-danger"> Güncelle</a></td> <!-- td etiketini unutma -->
                <td><a href="{% url 'article:delete' article.id %}" class = "btn btn-danger"> Sil</a></td>
                </tr>
            {% endfor %}
            
            {% if articles %}
            
            {% else %}
            {% endif %}

        </tbody>
        </table>

{% else %} <!-- Kullanıcının makalesi bulunmuyorsa tablo gösterilmeyecek  -->
        <div class = "alert alert-danger">Henüz makaleniz bulunmuyor...</div>
{% endif %}

{% endblock body %}